@model List<WebBank.Models.Calisan>

<table border="1">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Tc</th>
            <th>Sube</th>
            <th>Parola</th>

        </tr>
    </thead>
    <tbody>
             @foreach (var calisan in Model)
            {
                <tr>
                    <td>@calisan.Ad</td>
                    <td>@calisan.Soyad</td>
                    <td>@calisan.TcNo</td>
                    <td>@calisan.Sube.Ad</td>
                    <td>@calisan.Parola</td>
                </tr>
            }
        
    </tbody>
</table>

